
#header {
    top:auto;
    height: 85vh;
    overflow: visible;
    /* scroll-snap-align: start;  */
}



.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow:visible; */
}


/* =========CTA==========*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center
}



.me {
    background: linear-gradient( var(--color-primary), transparent);
    width: 160px;
    height: 160px;
    padding-top: 0px;
    position: static;
    left: calc(50% - 11rem);
    margin: 1.5rem;
    
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: visible;
    padding: 5px;
    
}

@keyframes black-in{
    0% { -webkit-box-shadow: 0px 0px 9px 9999px rgba(0, 0, 0, 1)
        /* inset 0 0 999px 999px #000000 */
        ;
        /* -webkit-box-shadow: inset 0 0 999px #000000; */

}
    /* 20% {-webkit-box-shadow: 0px 0px 9px 999px rgba(0, 0, 0, 1);
    } */
    100% { -webkit-box-shadow: 0px 0px 20px 999px rgba(0, 0, 0, 0);
       /* -webkit-box-shadow: inset 0 0 999px #000000; */
    }
}
.myPic{
    position: relative;
    top:auto;
    z-index: 999;
    border-radius: 50%;
   /* -webkit-box-shadow: inset 0 0 999px 99px #000000; */
    background-color: black;
    width: 150px;
    height: 150px;
    margin: auto;
 }
