#experience {
    /* scroll-snap-align: start; */
    height: auto;
    position: relative;
}

.videoContainer{
    min-height: 50vh;
    margin: 5rem;
    justify-content: space-evenly;
    margin: 7rem 0rem;
    background: rgba(0, 247, 255, 0.057);
    border: 2px solid rgba(0, 183, 255, 0.607);
    backdrop-filter: blur(2px);
}

.videoContainer:nth-child(even) {
    flex-direction: row-reverse;
}

.videoWrapper {
    position: relative;
    /* 16:9 */
    padding-bottom: 56.25%;
    width:100%;
    height: auto;
    /* box-sizing: border-box; */
    top:50%;
}

.videoWrapper iframe {
    position:absolute;
    left: 0;
    top: 0;
    /* height: 100%;
    width: 100%; */
}

.experience__description{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
}
