#experience {
    scroll-snap-align: start;
    height: auto;
    /* display: flex;
    flex-wrap: wrap; */
    position: relative;
    /* top: 75vh; */
    /* justify-content: left; */
}

.videoContainer{
    display: flex;
    justify-content: space-evenly;
    
    padding: .5rem;
    margin: 5rem 0rem;
    background: rgba(0, 247, 255, 0.11);
    border: 1px solid rgba(0, 247, 255, 0.4);
    backdrop-filter: blur(4px);

}

.videoContainer:nth-child(even) {
    flex-direction: row-reverse;
}

.videoWrapper {
    position: relative;
    /* 16:9 */
    padding-bottom: 37.25%;
    width:100%;
    height: auto;
    box-sizing: border-box;
}


.videoWrapper iframe {
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.experience__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:3rem;
}
.experience__description > *{
    
    width: 30rem; 
    padding: 0.5rem ;
    text-align: justify;
    /* background-color: aqua; */
}