nav{
   
    height: 100vh;
    z-index: 2 ;
    position: fixed ; 
    right:  0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   
    border-radius: 3rem;
   /*  backdrop-filter: blur(2px); */
}

nav a {
    background: rgba(1, 1, 105, 0.675);
    padding: 0.5rem;
    border-radius: 20%; 
padding-right: 1rem;
    display: flex;
    color: var(--color-light);
    font-size: 1rem;
}

nav a:hover {
    background:rgba(0, 0, 0, 0.3);
}
nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}
